{% extends "base.html" %} {% block right_container %}

<h2>All Users</h2>
<table>
    <thead>
        <tr>
            <th>user_id</th>
            <th>name</th>
            <th>username</th>
            <th>password</th>
            <th>email</th>
            <th>role</th>
            <th>avatar</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Daniel Schroeder</td>
            <td>djs</td>
            <td>badp@$$w3rd</td>
            <td>daniel@mail.com</td>
            <td>admin</td>
            <td>https://gravatar.com/4232232</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Daniel Schroeder</td>
            <td>djs</td>
            <td>badp@$$w3rd</td>
            <td>daniel@mail.com</td>
            <td>admin</td>
            <td>https://gravatar.com/4232232</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Daniel Schroeder</td>
            <td>djs</td>
            <td>badp@$$w3rd</td>
            <td>daniel@mail.com</td>
            <td>admin</td>
            <td>https://gravatar.com/4232232</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Daniel Schroeder</td>
            <td>djs</td>
            <td>badp@$$w3rd</td>
            <td>daniel@mail.com</td>
            <td>admin</td>
            <td>https://gravatar.com/4232232</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Daniel Schroeder</td>
            <td>djs</td>
            <td>badp@$$w3rd</td>
            <td>daniel@mail.com</td>
            <td>admin</td>
            <td>https://gravatar.com/4232232</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Daniel Schroeder</td>
            <td>djs</td>
            <td>badp@$$w3rd</td>
            <td>daniel@mail.com</td>
            <td>admin</td>
            <td>https://gravatar.com/4232232</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Daniel Schroeder</td>
            <td>djs</td>
            <td>badp@$$w3rd</td>
            <td>daniel@mail.com</td>
            <td>admin</td>
            <td>https://gravatar.com/4232232</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Daniel Schroeder</td>
            <td>djs</td>
            <td>badp@$$w3rd</td>
            <td>daniel@mail.com</td>
            <td>admin</td>
            <td>https://gravatar.com/4232232</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Daniel Schroeder</td>
            <td>djs</td>
            <td>badp@$$w3rd</td>
            <td>daniel@mail.com</td>
            <td>admin</td>
            <td>https://gravatar.com/4232232</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Daniel Schroeder</td>
            <td>djs</td>
            <td>badp@$$w3rd</td>
            <td>daniel@mail.com</td>
            <td>admin</td>
            <td>https://gravatar.com/4232232</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Daniel Schroeder</td>
            <td>djs</td>
            <td>badp@$$w3rd</td>
            <td>daniel@mail.com</td>
            <td>admin</td>
            <td>https://gravatar.com/4232232</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Daniel Schroeder</td>
            <td>djs</td>
            <td>badp@$$w3rd</td>
            <td>daniel@mail.com</td>
            <td>admin</td>
            <td>https://gravatar.com/4232232</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Daniel Schroeder</td>
            <td>djs</td>
            <td>badp@$$w3rd</td>
            <td>daniel@mail.com</td>
            <td>admin</td>
            <td>https://gravatar.com/4232232</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Daniel Schroeder</td>
            <td>djs</td>
            <td>badp@$$w3rd</td>
            <td>daniel@mail.com</td>
            <td>admin</td>
            <td>https://gravatar.com/4232232</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Daniel Schroeder</td>
            <td>djs</td>
            <td>badp@$$w3rd</td>
            <td>daniel@mail.com</td>
            <td>admin</td>
            <td>https://gravatar.com/4232232</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Daniel Schroeder</td>
            <td>djs</td>
            <td>badp@$$w3rd</td>
            <td>daniel@mail.com</td>
            <td>admin</td>
            <td>https://gravatar.com/4232232</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Daniel Schroeder</td>
            <td>djs</td>
            <td>badp@$$w3rd</td>
            <td>daniel@mail.com</td>
            <td>admin</td>
            <td>https://gravatar.com/4232232</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Daniel Schroeder</td>
            <td>djs</td>
            <td>badp@$$w3rd</td>
            <td>daniel@mail.com</td>
            <td>admin</td>
            <td>https://gravatar.com/4232232</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Daniel Schroeder</td>
            <td>djs</td>
            <td>badp@$$w3rd</td>
            <td>daniel@mail.com</td>
            <td>admin</td>
            <td>https://gravatar.com/4232232</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Daniel Schroeder</td>
            <td>djs</td>
            <td>badp@$$w3rd</td>
            <td>daniel@mail.com</td>
            <td>admin</td>
            <td>https://gravatar.com/4232232</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Daniel Schroeder</td>
            <td>djs</td>
            <td>badp@$$w3rd</td>
            <td>daniel@mail.com</td>
            <td>admin</td>
            <td>https://gravatar.com/4232232</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Daniel Schroeder</td>
            <td>djs</td>
            <td>badp@$$w3rd</td>
            <td>daniel@mail.com</td>
            <td>admin</td>
            <td>https://gravatar.com/4232232</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Daniel Schroeder</td>
            <td>djs</td>
            <td>badp@$$w3rd</td>
            <td>daniel@mail.com</td>
            <td>admin</td>
            <td>https://gravatar.com/4232232</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Daniel Schroeder</td>
            <td>djs</td>
            <td>badp@$$w3rd</td>
            <td>daniel@mail.com</td>
            <td>admin</td>
            <td>https://gravatar.com/4232232</td>
        </tr>
    </tbody>
</table>

{% endblock right_container %}
